<!DOCTYPE html>

    <html>

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Dating app</title>
            <link rel="stylesheet" href="index.css">
            <link rel="stulesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

            <script>
                
                window.addEventListener("DOMContentLoaded", () => {

                    const form =document.getElementById('signInForm');
                    const signInBtn = document.getElementById('signInBtn');
                    const email = document.getElementById('signInEmail');
                    const password = document.getElementById('signInPassword');

                    signInBtn.addEventListener('submit', function(){
                        localStorage.setItem("email", email.value);
                        localStorage.setItem("password", password.value);
                    })
            
                });

            </script>
            
        </head>

        <body>
            
                <h1>Dating App</h1>
                <!--User sign ip form-->
                <div id="form1">
                    <form id="signInForm" method="POST" action="http://localhost:3000/user/login" name='logInForm' role="form" enctype="application/json">
                        <p id="p1">User </p>
                        
                            <label for="email">Email</label>
                        <div class="input1">  
                            <input id="signInEmail" name='email' type="email" required>
                        </div>
                        
                        <br>
                            <label for="password">Password</label>
                        <div class="input1"> 
                            <input id="signInPassword" name='password' type="password" required>
                        </div>
                        <br>
                        <input id="signInBtn" type="submit" class="Btn" value="Log in">
                    </form>

                    <!--Admin sign in form-->
                    <form id="form3" method="POST" action="http://localhost:3000/admin" name='logInForm' role="form" enctype="application/json">
                        <p id="p1">Admin</p>
                        
                            <label for="name">Name</label>
                        <div class="input1">
                            <input name='name' type="text" >
                        </div>
                        <br>
                        <br>
                            <label for="password">Password</label>
                        <div class="input1">
                            <input name='password' type="password" >
                        </div>
                        <br>
                        <input type="submit" class="Btn" value="Log in">
                        
                    </form>
                    
                </div>

                
                <!--Sign up form-->
                <form method="POST" action="http://localhost:3000/user/signup" id="form2" name="signupForm" role="form" enctype="application/json"> 
                    <p id="p2">Sign up</p>
                    
                        <label for="name">Name</label>
                    <div class="input1">
                        <input name='name' id= "name" type="text" required><br>
                    </div>
                    <br>
                        <label for="Age">Age</label>
                    <div class="input1">
                        <input name='age' id= "Age" type="number"><br>
                    </div>

                    <br>
                        <label for="Interest">Interest</label>
                    <div class="input1">
                        <input name='interest' id= "interest" type="text"><br>
                    </div>

                    <br>
                        <label for="email">Email</label>
                    <div class="input1">
                        <input name='email' id= "email" type="email" ><br>
                    </div>

                    <br>    
                        <label for="password">Password</label>
                    <div class="input1">
                        <input name='password' id= "password" type="password"><br>
                    </div>
                    <br>
                    
                    </div>
                    <input type="submit" class="Btn" value="Create User">
                </form>
            
           
                <div class='overLay'></div>

           <script src="../server.js"></script>
           <script src="../models/userModel.js"></script>
i

        </body>

    </html>
    