<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <link rel="stylesheet" href="match.css">
</head>
<body>
    
    <h1>Matches</h1>

    <div id="container">
        <div id="table">
           
            <% match.forEach(function (match) { %>
                <form method="POST" action= "http://localhost:3000/user/matches/delete" name="deleteMatches" role="form" enctype="application/json">
                    <table>
                        <tr>
                            <td>Name: <%=match.name%></td>
                            <td>Age: <%=match.age%></td>
                            <td>Interest: <%=match.interest%></td>

                            <input type="text" value='<%= match.id %>' name="id" style="display: none;">
                            <td><button type="submit">Delete</button></td>

                        </tr><br>  
                        
                    </table>
                </form>
            <% }) %>

        </div>
    </div>
    <div>
        <!--<button type="submit">Homepage</button> -->
    </div>
    
</body>
</html>