h1{
    text-align: center;
    letter-spacing: 5px;
    color: #db3434;
}

body{
    background-color:#353b48;
    color: #ffffff;
    font-family: sans-serif;
}

#container{
    background: none;
}
#table{
    margin: 0 auto;
    width: 60%;
    background: none;
    padding: 1%;
}

#table table{
    padding: 1% 0;
    border: 2px solid #222222;
    width: 100%;
}

td{
    width: 25%;
    background-color: #353b48;
    text-align: left;
    word-spacing: 10px;
    font-size: larger;
    padding-left: 5%;
}

button{
    width: 50%;
    text-align: center;
    border: 2px solid #db3434;
    background: none;
    color: #db3434;
    cursor: pointer;
    height: 30px;
    font-size: large;
   

}