<!DOCTYPE html>

    <html>

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Dating app</title>
            <link rel="stylesheet" href="index.css">
        </head>

        <body>
            <h1>Dating app</h1>

            <form id="form1" method="POST" action="http://localhost:3000/user/login" name='logInForm' role="form" enctype="application/json">
                <p id="p1">Sign in</p>
                <div>
                    <label for="email">Email:</label>
                    <input name='email' type="email" required>
                    <br>
                    <br>
                    <label for="password">Password:</label>
                    <input name='password' type="password" required>
                </div>
                <br>
                <input type="submit" class="Btn" value="Log in">
            </form>

            <form method="POST" action="http://localhost:3000/user/signup" id="form2" name="signupForm" role="form" enctype="application/json"> 
                <p id="p2">Sign up</p>
                <div class="input">
                    <label for="name">Name:</label>
                    <input name='name' id= "name" type="text" required><br>
                    <br>
                    <label for="Age">Age:</label>
                    <input name='age' id= "Age" type="number"><br>

                    <br>
                    <label for="Interest">Interest:</label>
                    <input name='interest' id= "interest" type="text"><br>

                    <br>
                    <label for="email">Email:</label>
                    <input name='email' id= "email" type="email" ><br>
                    <br>
                    
                    <label for="password">Password:</label>
                    <input name='password' id= "password" type="password"><br>
                <br>
                
                </div>
                <input type="submit" class="Btn" value="Create">
            </form>

            

           <script src="../server.js"></script>
           <script src="../models/userModel.js"></script>
        </body>

    </html>
    