<!DOCTYPE html>

    <html>

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Dating app</title>
            <link rel="stylesheet" href="index.css">
        </head>

        <body>
            <h1>Dating app</h1>

            <form id="form1">
                <p id="p1">Sign in</p>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" required>
                    <br>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" required>
                </div>
                <br>
                <button class="button">Log in</button>
            </form>

            <form method="POST" id="form2"> 
                <p id="p2">Sign up</p>
                <div class="input">
                    <label for="name">Name:</label>
                    <input id= "name" type="name" required><br>
                    <br>
                    <label for="Age">Age:</label>
                    <input id= "Age" type="number"><br>

                    <br>
                    <label for="Interest">Interest:</label>
                    <input id= "interest" type="text"><br>

                    <br>
                    <label for="email">Email:</label>
                    <input id= "email" type="email" ><br>
                    <br>
                    
                    <label for="password">Password:</label>
                    <input id= "password" type="password"><br>
                <br>
                </div>
                <button id="createBtn" class="button" type="submit"> Create </button>
            </form>

            

           <script src="../server.js"></script>
           <script src="../models/userModel.js"></script>
        </body>

    </html>
    